In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('datasets/GAZP.csv')
df[['TRADEDATE', 'CLOSE']]

       TRADEDATE   CLOSE
0     2014-06-09  144.40
1     2014-06-10  144.75
2     2014-06-11  146.40
3     2014-06-16  145.20
4     2014-06-17  144.77
...          ...     ...
2736  2025-04-07  125.57
2737  2025-04-08  121.91
2738  2025-04-09  127.76
2739  2025-04-10  127.77
2740  2025-04-11  132.91

[2741 rows x 2 columns]